.home-book {
  perspective: 1000px;
  width: 300px;
}

#background {
  background: url("src/assets/images/home-background.png") no-repeat center center fixed;
}

.book {
  position: relative;
  width: 300px;
  height: 450px;
  transform-style: preserve-3d;
  transition: transform 1.5s;
}

.left-flip {
  transform: rotateY(-50deg);
}

.right-flip {
  transform: rotateY(60deg);
}

.book-cover {
  height: 450px;
  background: #014017;
  box-sizing: border-box;
  position: absolute;
}

.front {
  width: 300px;
}

.front-left, .front-right {
  width: 150px;
  height: 100%;
  position: absolute;
}

.front-left {
  right: 150px;
  background-image: url("src/assets/images/cover-left.png");
  background-size: 100% 100%;
}

.front-right {
  background-image: url("src/assets/images/cover-right.png");
  left: 150px;
  background-size: 100% 100%;
}

.left {
  right: 300px;
  width: 35px;
  transform: rotateY(-90deg);
  transform-origin: right;
  background-image: url("src/assets/images/home-book-left-cover.png");
  background-size: 100% 100%;
  border-right: #072612 2px solid;
}

.right {
  left: 300px;
  width: 35px;
  height: 100%;
  transform: rotateY(90deg);
  transform-origin: left;
  background-image: url("src/assets/images/book-cover-left-side.png");
  background-size: 100% 100%;
}

.book-card img {
  transition: all 0.4s;
  border-radius: 10px;
}

.book-card:hover img {
  transform: scale(1.2);
  z-index: 1000;
}

.book-card-title, .card-button {
  transition: all 0.4s;
}

.book-card:hover .book-card-title {
  transform: translateY(100%);
}

.book-card:hover .card-button {
  transform: translateY(-100%);
}

.card-btn{
  background: none;
  padding: 5px;
  border: #ffffff solid 2px;
  color: #ffffff;
  background-size: 0 100%;
  transition: all 0.4s;
}

.card-btn:target{
  background: #055c25;
}
