<div id="background">
  <div class="mx-auto home-book pt-3 pb-3">
    <div class="book" [class.left-flip]="flip == 1" [class.right-flip]="flip == 2">
      <div class="book-cover front">
        <div class="front-left" (mouseover)="left()" (mouseout)="mouseOut()"></div>
        <div class="front-right" (mouseover)="right()" (mouseout)="mouseOut()"></div>
      </div>
      <div class="book-cover back"></div>
      <div class="book-cover left"></div>
      <div class="book-cover right"></div>
    </div>
  </div>
  <div class="m-5 ">
    <h3 class="text-light mb-5 mt-5 text-center shadow p-3">Sách Bán Chạy</h3>
    <div *ngFor="let book of bestseller" class="text-center position-relative book-card text-light p-3"
         style="width: 20%; height: 450px; display: inline-block">
      <div class="position-relative w-100 h-100 shadow-lg p-2 rounded-1">
        <div style="height: 35%" class="title">
          <div class="book-card-title h-100">
            <h5>Giá: {{book.price | currency : '': ''}} đ</h5>
            <span>Đã bán: {{book.sold}}</span>
            <p>{{book.title.length > 50 ? (book.title |slice: 0 : 50) + '. . .' : book.title  }}</p>
          </div>
          <div class="card-button h-100 d-flex align-items-center justify-content-center">
            <button class="card-btn">Thêm vào giỏ hàng</button>
          </div>
        </div>
        <img [src]="book.url" height="65%" alt="">
      </div>
    </div>
  </div>

  <div class="m-5 mb-0">
    <h3 class="text-light mb-5 mt-5 text-center shadow p-3"></h3>
    <div *ngFor="let list of pages;index as i">
      <div *ngIf="list != null">
        <div *ngFor="let book of pages[i]" class="text-center position-relative book-card text-light p-3"
             style="width: 20%; height: 450px; display: inline-block">
          <div class="position-relative w-100 h-100 shadow-lg p-2 rounded-1">
            <div style="height: 35%" class="title">
              <div class="book-card-title h-100">
                <h5>Giá: {{book.price | currency : '': ''}} đ</h5>
                <span>Đã bán: {{book.sold}}</span>
                <p>{{book.title.length > 50 ? (book.title |slice: 0 : 50) + '. . .' : book.title  }}</p>
              </div>
              <div class="card-button h-100 d-flex align-items-center justify-content-center">
                <button class="card-btn">Thêm vào giỏ hàng</button>
              </div>
            </div>
            <img [src]="book.url" height="65%" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <span *ngIf="page < totalPages -1" class="text-light p-3 shadow" style="cursor: pointer" (click)="getList()" >Xem thêm</span>
    </div>
  </div>
</div>
<div class="conteudo">
    <div class="carrosel">
        <div class="caixa__card cc__1">Văn học <br> trong nước</div>
        <div class="caixa__card cc__2">Chính trị</div>
        <div class="caixa__card cc__3">Kinh tế</div>
        <div class="caixa__card cc__4">Lịch sử</div>
        <div class="caixa__card cc__5">Thiếu nhi</div>
        <div class="caixa__card cc__6">Nghệ thuật</div>
        <div class="caixa__card cc__7">Truyện tranh</div>
        <div class="caixa__card cc__8">Sức khoẻ</div>
    </div>
</div>

<footer id="footer" class="p-footer mt-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3 mb-4 ps-5">
                        <h2 class="footer-heading">Book Store</h2>
                        <p></p>
                    </div>
                    <div class="col-md-9">
                        <div class="row justify-content-center">
                            <div class="col-md-12 col-lg-9">
                                <div class="row">
                                    <div class="col-md-4 mb-4">
                                        <h2 class="footer-heading"></h2>
                                        <ul class="p-list-unstyled">
                                            <li><a href="#" class="py-1 d-block p-link">Trang chủ</a></li>
                                            <li><a href="#" class="py-1 d-block p-link">Giới thiệu</a></li>
                                            <li><a href="#" class="py-1 d-block p-link">Tin tức</a></li>
                                            <li><a href="#" class="py-1 d-block p-link">Liên hệ</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <h2 class="footer-heading"></h2>
                                        <ul class="p-list-unstyled">
                                            <li><a href="#" class="py-1 d-block p-link">Cẩm nang</a></li>
                                            <li><a href="#" class="py-1 d-block p-link">Sách hay</a></li>
                                            <li><a href="#" class="py-1 d-block p-link">Thành đoàn</a></li>
                                            <li><a href="#" class="py-1 d-block p-link">Tuổi trẻ</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <h2 class="footer-heading"></h2>
                                        <ul class="p-list-unstyled">
                                            <li><a href="#" class="py-1 d-block p-link">Shopee</a></li>
                                            <li><a href="#" class="py-1 d-block p-link">Lazada</a></li>
                                            <li><a href="#" class="py-1 d-block p-link">Tiki</a></li>
                                            <li><a href="#" class="py-1 d-block p-link">Fahasa</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <ul class="p-ul">
                    <li class="p-li"><a href="https://www.facebook.com/codegymdanang" target="_blank"><i class="fa-brands fa-facebook p-fa-brands"></i></a></li>
                    <li class="p-li"><a href="https://www.instagram.com/codegymdanang/" target="_blank"><i class="fa-brands fa-instagram p-fa-brands"></i></a></li>
                    <li class="p-li"><a href="https://www.google.com/search?q=c0422g1" target="_blank"><i class="fa-brands fa-google p-fa-brands"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-md-5">
            <div class="col-md-12">
                <p class="copyright">
                    Copyright &copy;
                    All rights reserved by C0422G1
                </p>
            </div>
        </div>
    </div>
</footer>