.toolbar ul {
  display: table-row;
}

.toolbar ul .toolbar-li {
  display: table-cell;
  height: 80px;
  list-style-type: none;
  margin: 10px;
  vertical-align: middle;
  border: none;
}

.toolbar {
  display: inline-block;
}

.header-link {
  text-decoration: none;
  color: white;
  padding: 0 20px 0 20px;
  list-style-type: none;
}

.menu {
  display: block;
  margin: 0 auto;
  position: relative;
}

.menu > li > a {
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
}

.menu ul li {
  list-style-type: none;
  min-width: 100px;
}

.menu ul {
  background: #055c25;
  height: 0;
  right: 0;
  opacity: 0;
  position: absolute;
  transition: height .5s ease;
  top: 35px;
  padding: 0;
  text-align: right;
}

.dropdown-btn .menu li ul li {
  display: none;
}

.dropdown-btn:hover .menu li ul li {
  display: block;
}

.dropdown-btn:hover .menu li .category-list {
  height: 350px;
  opacity: 1;
  transform: translateY(0);
  overflow: auto;
}

.dropdown-btn .menu li ul li {
  transition: background-color 0.7s;
}

.dropdown-btn .menu li ul li a:hover {
  background-color: #014017;
}

.category-li{
 width: 200px;
}

.menu ul a {
  color: #ffffff;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.dropdown-btn:hover .menu li .account-tool-content {
  height: 88px;
  opacity: 1;
  transform: translateY(0);
}

.search-input {
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 0 0 0 7px;
  height: 35px;
  width: 250px;
  transition: width 0.7s;
}

.search-input:focus {
  outline: none;
  width: 450px;
}

.search-btn {
  border: none;
  background-color: #014017;
  color: white;
  height: 35px;
  width: 35px;
  padding: 0;
  position: relative;
  top: -1px;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s;
}

.search-btn:hover{
  background-color: #044e1d;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #044e1d;
}
