<div style="background: #055c25" class="ps-3 pe-3">
  <img style="clear: both" src="../../../assets/images/LOGO_WHITE.png" height="80" width="80"/>
  <div class="d-inline-block float-end">
    <div class="toolbar">
      <ul>
        <li class="toolbar-li">
          <input type="text" class="search-input">
          <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </li>
        <li class="toolbar-li"><a routerLink="" class="header-link">Trang chủ</a></li>
        <li class="toolbar-li dropdown-btn">
          <ul class="menu">
            <li class="header-link">
              <a>Thể loại &nbsp;<i class="fa-solid fa-caret-down"></i></a>
              <ul class="category-list">
                <li class="category-li"><a href="#" *ngFor="let category of categoryList">{{category.name}}</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="toolbar-li dropdown-btn">
          <ul class="menu">
            <li class="header-link">
              <a><i class="fa-solid fa-user"></i>
                <span *ngIf="!isLogin">&nbsp;Tài khoản</span>
                <span *ngIf="isLogin">&nbsp;{{name}}</span>
              </a>
              <ul class="account-tool-content" *ngIf="!isLogin">
                <li><a routerLink="/login">Đăng nhập</a></li>
                <li><a routerLink="/sign-up">Đăng ký</a></li>
              </ul>
              <ul class="account-tool-content" *ngIf="isLogin">
                <li><a routerLink="/login">Đơn hàng</a></li>
                <li><a (click)="logOut()">Đăng xuất</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="toolbar-li dropdown-btn">
          <a href="" class="position-relative">
            <i  class="fa-solid fa-cart-shopping text-light" style="font-size: 20px"></i >
            <span class="position-absolute start-100 translate-middle badge rounded-pill bg-danger"
                  style="font-size: 10px; top: -2px">9
    <span class="visually-hidden">unread messages</span>
  </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
