<div class="body">
  <div class="container_">
    <div class="page" id="page-1"></div>
    <div class="page" id="page-2"></div>
    <div class="page" id="page-3"></div>
    <div class="screen">
      <div class="screen__content">
        <form class="login">
          <a routerLink="" class="link"><h2 class="mb-2"  style="color:#03712c">Green Book</h2></a>
          <div class="login__field">
            <i class="fa-solid fa-envelope login__icon"></i>
            <input type="text" class="login__input" placeholder="Email">
          </div>
          <div class="login__field">
            Nhập email đăng ký tài khoản, chúng tôi sẽ gửi email xác nhận đặt lại mật khẩu cho bạn!
          </div>
          <button class="button login__submit">
            <span class="mx-auto">Đặt lại mật khẩu</span>
            <i class="fa-solid fa-paper-plane button__icon"></i>
          </button>
        </form>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape3"></span>
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>
    </div>
  </div>
</div>
